<%- include('components/header.ejs') %>

<main>
    <div class="container">
        <h1>Year - wise Alumni list</h1>
        <div class="flex-wrap">
            <% for (var i = 0; i < stats.length; i++) { %>
            <div class="card raised flex-column">
                <h2><%= stats[i].year %></h2>
                <div class="card-container">
                    <div class="icon-set">
                        <ion-icon name="people-outline"></ion-icon>
                        <span>Total Count: <%= stats[i].total %></span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="shield-checkmark-outline"></ion-icon>
                        <span>Registered: <%= stats[i].reg %></span>
                    </div>
                    <div class="icon-set">
                        <ion-icon name="hourglass-outline"></ion-icon>
                        <span>Yet to register: <%= stats[i].unreg %></span>
                    </div>
                </div>
                <a href="/year/<%= stats[i].year %>" class="card-footer w-100">View members</a>
            </div>
            <% } %>

        </div>
    </div>
</main>

<%- include('components/footer.ejs') %>